.ProjectList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px 220px 20px;
  justify-items: center;
}

.ProjectList-title {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  color: #00d4ff;

  margin-bottom: 0px;
  letter-spacing: 1px;
  text-shadow: 0 2px 16px #0080a0aa;
}

@media (max-width: 768px) {
  .ProjectList {
    grid-template-columns: 1fr;
    max-width: 450px;
  }
}
