.Layout {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 10% 85% 5%;
}


.Layout, header, aside, main, footer {
    border: 1px solid black;
}

main {
    overflow: auto;
    display: grid;
}

