html,
body,
#root {
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(90deg, #1c1c1c, #3a3a3a, #1c1c1c);
  color: white;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  box-sizing: border-box;
  scroll-margin-top: 0;
}

#projects {
  scroll-margin-top:500px; /* Offset for nav bar */
}

#about {
  scroll-margin-top: 80px; /* Offset for nav bar */
}
